/* colors = {
    black: "#070707",
    "dark-silver": "#847470",
    "light-silver": "#b9b3ae",
    gold: "#fbc760",
    white: "#edebea",
  }; */

.edit-button {
  color: #fbc760;
  font-size: 14px;
  width: 100%;
  text-decoration: none;
}

.add-button {
  color: #fbc760;
  background-color: #070707;
  font-size: 12px;
  width: 100%;
  padding: 10px;
  width: 50%;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 600;
  text-decoration: none;
}
