/* colors = {
    black: "#070707",
    "dark-silver": "#847470",
    "light-silver": "#b9b3ae",
    gold: "#fbc760",
    white: "#edebea",
  }; */

.details-button {
  display: flex;
  color: #fbc760;
  font-size: 16px;
  text-decoration: none;
  transition: all 350ms;
  padding: 12px;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #070707;
  font-family: Robotto;
  border-radius: 8px;
  border: 1px solid black;
}

.details-button:hover {
  background-color: #f7f2ef;
  color: #070707;
  border: 1px solid black;
}

@media (max-width: 600px) {
  .details-button {
    font-size: 12px;
    padding: 8px;
    width: 60%;
    font-weight: 400;
  }
}
