.main-div {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
    align-items: center;

}

.slides {
    margin: auto;
    object-fit: cover;
    width: 100%;
    aspect-ratio:calc(16/9);
    position: relative;
    overflow: hidden;
}